body {
    font-size: 14px;
    line-height: 1;
    color: #656565;
    font-family: sans-serif;
    max-width: 1400px;
}
body, ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
    a {
text-decoration: none;
font-family: OpenSans;

    }
.header {
    max-width: 1400px;
    background: #37bdb8;
}
.header__top, 
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    max-width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.header__top {
    font-family: OpenSans;
    color: #fff;
    font-size: 13px;

    font-weight: 400;
}
.header__nav,
.header__link {
    color: #656565;
}
.choice__block,
.choice__currency,
.header_top__menu,
.header__menu {
    justify-content: space-between;
    margin-right: -50px;
    display: flex;
}
.header_top__nav{
    justify-content: space-between;
    display: flex;
    margin-left: 500px;

}
.header_top__menu{
    margin-left: auto;
}
select {
    height: 20px;
    margin-left: 10px;
    border: none;
}

.choice_language__title,
.choice_currency__title {
    margin: auto;
}
.header__search{
max-width: 174px;
width: 100%;
height: 29px;
background-color: #ffffff;
border: 1px solid #c6c6c6;
padding: 0;
}

.header_top__link{
    padding: 0 20px;
    color: white;
}
.header__link {
    text-transform: uppercase;
    padding: 0 20px;
    border-right: 1px;
}
.quantity__nav{
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.carousel-section {
    max-width: 1400px;
    height: 475px;
    justify-content: space-between;
}

.carousel {
    background: url("img/bg-header.png");
    background-size: 100% 100%;
    max-width: 1400px;
    height: 475px;
}

.carousel__item-title {
    font-family: OpenSans;
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
    padding: 150px 0 0 300px;
}
.carousel__item-text {
    font-family: OpenSans;
    font-size: 28px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
    padding: 0 0 0 300px;
    margin: h;
}

.catalog__product {
    max-width: 233px;
    width: 100%;
    height: 318px;
    margin-top: 45px;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 30px 50px;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #caebe0;
  }
  .catalog__product {
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  /** border**/
.corner-ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.corner-ribbon::before,
.corner-ribbon::after {
    position: absolute;
    content: "";
    display: block;
    border: 5px solid #2980b9;
}
.corner-ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #337ab7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center; 
}
.corner-left {
    top: -197px;
    left: -60px;
    position: relative;
}
.corner-left::before,
.corner-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.corner-left::before {
    top: 0;
    right: 0;
}
.corner-left::after {
    left: 0;
    bottom: 0;
}
.corner-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}
.corner-right {
    top: -176px;
    right: -141px;
    position: relative;
}
.corner-right::before,
.corner-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.corner-right::before {
    top: 0;
    left: 0;
}
.corner-right::after {
    right: 0;
    bottom: 0;
}
.corner-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}

.catalog__product:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.catalog__product .products-info {
    display: flex;
    text-align: center;
}
.catalog__product .products-text p {
    font-size: 18px;
    line-height: 1.2;
}
.catalog__product .products-text p.sale {
    font-size: 16px;
    color: #52a63c;
    margin-top: 10px;
}
.catalog__product .icon {
    height: 45px;
    min-width: 45px;
    background: #52a63c;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-top: 10px;
    margin: 4px;
}
/** featured-glass **/
.catalog__featured-glass {
    max-width: 240px;
    width: 100%;
    height: 520px;
    background: #fff;
    text-align: center;
    border-top: 7px solid #0e95f3;
    margin: 0 auto;
}
.catalog__featured-glass p {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.catalog__featured-glass button {
    background: #0e95f3;
    width: 140px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 20px 0;
}
.catalog__featured-glass button:hover {
    background: #1479c0;
}

.grid {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a b c d"
        "e f g d"
        "h i k l";
}
.grid__item1 {
    grid-area: a;
}
.grid__item2 {
    grid-area: b;
}
.grid__item3 {
    grid-area: c;
}
.grid__item4 {
    grid-area: d;
}
.grid__item5 {
    grid-area: e;
}
.grid__item6 {
    grid-area: f;
}
.grid__item7 {
    grid-area: g;
}
.grid__item8 {
    grid-area: h;
}
.grid__item9 {
    grid-area: i;
}
.grid__item10 {
    grid-area: k;
}
.grid__item11 {
    grid-area: l;
}
.grid1 {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a b c";
}
.grid1__item12 {
    grid-area: a;
}
.grid1__item13 {
    grid-area: b;
}
.grid1__item14 {
    grid-area: c;
}
.grid2 {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a b c";
}
.grid1__item15 {
    grid-area: a;
}
.grid1__item16 {
    grid-area: b;
}
.grid1__item17 {
    grid-area: c;
}
/** signup **/
.catalog__singup {
    max-width: 240px;
    width: 100%;
    height: 280px;
    background: #fff;
    border-top: 7px solid #1479c0;
    text-align: center;
    margin: 0 auto;
}
.catalog__singup h4 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 0;
}
.catalog__singup p {
    font-size: 14px;
    line-height: 14px;
}
.catalog__singup form input {
    width: 145px;
    height: 35px;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #656565;
}
.catalog__singup form button {
    color: #fff;
    background: #52a63c;
    width: 112px;
    height: 40px;
    border: none;
}
.catalog__singup form button:hover {
    background: #255e16;
}
/** contacts **/
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4cb1ca;
}
.contacts ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}
.contacts ul li {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.contacts ul li.contacts-icon {
    background: #fff;
    width: 70px;
    height: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    padding: 15px;
}
.row {
    display: flex;
}
/** information **/
.information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    background: #39a0b9;
    padding: 20px;
}
.information-block {
    flex-basis: 22%;
}
.information h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.information p {
    font-size: 14px;
    line-height: 1.5;
}
.information ul {
    list-style: none;
    display: flex;
    margin-bottom: 7px;
}
.information ul li {
    padding-left: 7px;
}
.information ul li.information-icon {
    background: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    padding: 15px;
}
.information .information-icon ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}
.information ul.gal {
    flex-direction: column;
}
.information ul.gal li img {
    margin-right: 4px;
}
hr {
    color: #fff;
    height: 2px;
}
/** footer **/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    background: #0b4b5a;
    color: #fff;
}
.footer p {
    font-size: 16px;
}
.footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.footer ul li {
    border-right: 1px solid #fff;
    padding: 0 10px;
}
.footer ul li:last-child {
    border-right: none;
    padding-right: 0;
}